In [1]:
import multiprocessing

import pandas as pd

from helper import distance

In [2]:
wind_turbine_df = pd.read_excel(
    'https://ftp.cartes.canada.ca/pub/nrcan_rncan/Wind-energy_Energie-eolienne/wind_turbines_database/Wind_Turbine_Database_FGP.xlsx'
)
wind_stations_df = pd.read_csv('https://dd.weather.gc.ca/climate/observations/climate_station_list.csv')

In [3]:
wind_turbine_df

,OBJECTID,Province/Territory,Project name,Total project capacity (MW),Turbine identifier,Turbine number in project,Turbine rated capacity (kW),Rotor diameter (m),Hub height (m),Manufacturer,Model,Commissioning date,Latitude,Longitude,Notes
0,1,Alberta,Optimist Wind Energy,0.90,OWE1,1/2,150,23.0,30.0,Bonus,AN 150/30,1993,49.525354,-114.054796,NaN
1,2,Alberta,Castle River Wind Farm,44.00,CRW1,1/60,600,44.0,40.0,Vestas,V44/600,1997,49.512641,-114.035712,NaN
2,3,Alberta,Waterton Wind Turbines,3.78,WWT1,1/6,600,44.0,50.0,Vestas,V44/600,1998,49.233069,-113.654899,NaN
3,4,Alberta,Waterton Wind Turbines,3.78,WWT2,2/6,600,44.0,50.0,Vestas,V44/600,1998,49.233034,-113.630213,NaN
4,5,Alberta,Waterton Wind Turbines,3.78,WWT3,3/6,600,44.0,50.0,Vestas,V44/600,1998,49.217547,-113.680161,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6693,6694,Saskatchewan,Cypress,10.56,CYP14,14/16,660,47.0,50.0,Vestas,V47,2001/2003,50.019248,-108.533930,NaN
6694,6695,Saskatchewan,Cypress,10.56,CYP15,15/16,660,47.0,50.0,Vestas,V47,2001/2003,50.015566,-108.532063,NaN
6695,6696,Saskatchewan,Cypress,10.56,CYP16,16/16,660,47.0,50.0,Vestas,V47,2001/2003,50.010855,-108.538380,NaN
6696,6697,Yukon,Haeckel Hill,0.81,HAH1,1/2,150,23.0,30.0,Bonus,B23/150,1993,60.748818,-135.229274,NaN
6697,6698,Yukon,Haeckel Hill,0.81,HAH2,2/2,660,47.0,37.0,Vestas,V47,2000,60.748678,-135.231748,NaN

In [4]:
wind_stations_df

,Station Name,Province,Latitude,Longitude,Elevation,Climate ID,WMO Identifier,TC Identifier,First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,(AE) BOW SUMMIT,ALBERTA,51.70,-116.47,2080.0,3050PPF,NaN,NaN,1998,2007,NaN,NaN,1998.0,2007.0,1998.0,2007.0
1,100 MILE HOUSE,BRITISH COLUMBIA,51.65,-121.30,1059.2,1165791,NaN,NaN,1970,1999,NaN,NaN,1970.0,1999.0,1970.0,1999.0
2,100 MILE HOUSE,BRITISH COLUMBIA,51.65,-121.27,929.6,1095790,NaN,NaN,1957,1959,NaN,NaN,1957.0,1959.0,1957.0,1959.0
3,100 MILE HOUSE 6NE,BRITISH COLUMBIA,51.68,-121.22,928.0,1165793,NaN,NaN,1987,2023,NaN,NaN,1987.0,2023.0,1987.0,2007.0
4,108 MILE HOUSE,BRITISH COLUMBIA,51.75,-121.33,957.1,1095796,NaN,NaN,1970,1973,NaN,NaN,1970.0,1973.0,1970.0,1973.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8547,ZEBALLOS MURAUDE CREEK,BRITISH COLUMBIA,50.05,-126.78,103.0,1039035,NaN,NaN,2010,2023,NaN,NaN,2010.0,2023.0,NaN,NaN
8548,ZEHNER,SASKATCHEWAN,50.63,-104.40,682.8,4019200,NaN,NaN,1961,1999,NaN,NaN,1961.0,1999.0,1961.0,1999.0
8549,ZELMA,SASKATCHEWAN,51.80,-105.93,541.0,4059220,NaN,NaN,1981,1989,NaN,NaN,1981.0,1989.0,1981.0,1989.0
8550,ZHODA,MANITOBA,49.25,-96.52,304.8,5023370,NaN,NaN,1980,2000,NaN,NaN,1980.0,2000.0,1980.0,2000.0
8551,ZURICH,ONTARIO,43.40,-81.60,256.6,6129850,NaN,NaN,1881,1898,NaN,NaN,1881.0,1898.0,1881.0,1898.0

In [5]:
# wind_turbine_distance_df = pd.DataFrame(
#     columns=[
#         'Turbine identifier',
#         *[
#             row_j['Turbine identifier']
#             for _, row_j in wind_turbine_df.iterrows()
#         ]
#     ],
#     data=[
#         [
#             row_i['Turbine identifier'],
#             *[
#                 0 if idx_i == idx_j else distance(
#                     lat1=row_i['Latitude'],
#                     lon1=row_i['Longitude'],
#                     lat2=row_j['Latitude'],
#                     lon2=row_j['Longitude'],
#                 )
#                 for idx_j, row_j in wind_turbine_df.iterrows()
#             ]
#         ]
#         for idx_i, row_i in wind_turbine_df.iterrows()
#     ]
# )
# wind_turbine_distance_df.set_index('Turbine identifier', inplace=True)

In [6]:
def process_wind_turbin_distance_row(item_i):
    idx_i, row_i = item_i

    return [
        row_i['Turbine identifier'],
        *[
            0 if idx_i == idx_j else distance(
                lat1=row_i['Latitude'],
                lon1=row_i['Longitude'],
                lat2=row_j['Latitude'],
                lon2=row_j['Longitude'],
            )
            for idx_j, row_j in wind_turbine_df.iterrows()
        ]
    ]

with multiprocessing.Pool(processes=None) as pool:
    wind_turbine_distance_df = pd.DataFrame(
        columns=[
            'Turbine identifier',
            *[
                row_j['Turbine identifier']
                for _, row_j in wind_turbine_df.iterrows()
            ]
        ],
        data=pool.imap(
            func=process_wind_turbin_distance_row,
            iterable=wind_turbine_df.iterrows(),
            chunksize=16,
        )
    )
wind_turbine_distance_df.set_index('Turbine identifier', inplace=True)

In [7]:
wind_turbine_distance_df.to_csv('wind_turbine_distance.csv')

In [8]:
# wind_turbine_station_distance_df = pd.DataFrame(
#     columns=[
#         'Turbine identifier',
#         *[
#             row_j['Turbine identifier']
#             for _, row_j in wind_stations_df.iterrows()
#         ]
#     ],
#     data=[
#         [
#             row_i['Turbine identifier'],
#             *[
#                 distance(
#                     lat1=row_i['Latitude'],
#                     lon1=row_i['Longitude'],
#                     lat2=row_j['Latitude'],
#                     lon2=row_j['Longitude'],
#                 )
#                 for _, row_j in wind_stations_df.iterrows()
#             ]
#         ]
#         for _, row_i in wind_turbine_df.iterrows()
#     ]
# )
# wind_turbine_station_distance_df.set_index('Turbine identifier', inplace=True)

In [9]:
def process_wind_turbin_station_distance_row(item_i):
    idx_i, row_i = item_i

    return [
        row_i['Turbine identifier'],
        *[
            distance(
                lat1=row_i['Latitude'],
                lon1=row_i['Longitude'],
                lat2=row_j['Latitude'],
                lon2=row_j['Longitude'],
            )
            for idx_j, row_j in wind_stations_df.iterrows()
        ]
    ]

with multiprocessing.Pool(processes=None) as pool:
    wind_turbine_station_distance_df = pd.DataFrame(
        columns=[
            'Turbine identifier',
            *[
                row_j['Climate ID']
                for _, row_j in wind_stations_df.iterrows()
            ]
        ],
        data=pool.imap(
            func=process_wind_turbin_station_distance_row,
            iterable=wind_turbine_df.iterrows(),
            chunksize=16,
        )
    )
wind_turbine_station_distance_df.set_index('Turbine identifier', inplace=True)

In [10]:
wind_turbine_station_distance_df.to_csv('wind_turbine_station_distance.csv')